<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodsite.dao.RecipeDAO">

    <!-- 전체 레시피 개수 조회 -->
    <select id="size" resultType="int">
        SELECT COUNT(*) FROM recipe
        where recommend = 1
    </select>
    
    <!-- 특정 레시피 1개 상세 조회 -->
    <select id="selectOne" parameterType="int" resultType="recipe">
        SELECT r.*, m.nickname, c.category_name FROM recipe r
        JOIN member m ON r.member_id = m.member_id
        JOIN food f ON r.food_id = f.food_id
        JOIN category c ON f.category_id = c.category_id
        WHERE recipe_id = #{num}
    </select>
    
    <!-- 전체 레시피 목록 조회 (최신순) -->
    <select id="selectAll">
        SELECT r.* FROM recipe 
        ORDER BY created_date DESC
    </select>

    <!-- 냉장고 재료로 레시피 검색 -->
    <select id="selectAny" resultType="recipe">
        <bind name="pattern" value="'%' + ingredient_name + '%'" />
        SELECT DISTINCT r.*, m.nickname
        FROM recipe r
        JOIN ingredient i ON r.recipe_id = i.recipe_id
        JOIN member m ON r.member_id = m.member_id
        WHERE i.ingredient_name LIKE #{pattern}
    </select>

    <!-- 레시피 필터링 결과 총 개수 조회 (페이징 처리용) -->
    <select id="selectRecipeCount" parameterType="RecipeSearchDTO" resultType="int">
        SELECT COUNT(DISTINCT r.recipe_id) FROM recipe r
        LEFT JOIN food f ON r.food_id = f.food_id
        LEFT JOIN category c ON f.category_id = c.category_id
        <where>
            <if test="category != null and category != ''">
                REPLACE(c.category_name, ' ', '') = REPLACE(#{category}, ' ', '')
            </if>
            <if test="maxCookTime > 0 and maxCookTime != 9999">
                AND CAST(REPLACE(r.cooking_time, '분', '') AS UNSIGNED) &lt;= #{maxCookTime}
            </if>
        </where>
    </select>

    <!-- 카테고리/조리시간 필터링 레시피 목록 조회  -->
    <select id="selectRecipeList" parameterType="RecipeSearchDTO" resultType="recipe">
        SELECT DISTINCT r.*, f.food_name FROM recipe_view r
        LEFT JOIN food f ON r.food_id = f.food_id
        LEFT JOIN category c ON f.category_id = c.category_id
        <where>
            <if test="category != null and category != ''">
                REPLACE(c.category_name, ' ', '') = REPLACE(#{category}, ' ', '')
            </if>
            <if test="maxCookTime > 0 and maxCookTime != 9999">
                AND CAST(REPLACE(r.cooking_time, '분', '') AS UNSIGNED) &lt;= #{maxCookTime}
            </if>
        </where>
        <choose>
            <when test="maxCookTime == 0">
                ORDER BY CAST(REPLACE(r.cooking_time, '분', '') AS UNSIGNED) ASC
            </when>
            <otherwise>
                ORDER BY r.created_date DESC
            </otherwise>
        </choose>
    </select>

    <!-- 대분류별 소분류 음식 목록 조회 -->
    <select id="selectFoodListByCategory" parameterType="string" resultType="map">
        SELECT 
        f.food_id AS foodId,
        f.food_name AS foodName,
        f.category_id AS categoryId
        FROM food f
        JOIN category c ON f.category_id = c.category_id
        WHERE REPLACE(c.category_name, ' ', '') = REPLACE(#{categoryName}, ' ', '')
        ORDER BY f.food_name ASC
    </select>

    <!-- 대분류별 소분류 음식 개수 조회 -->
    <select id="selectFoodCountByCategory" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM food f
        JOIN category c ON f.category_id = c.category_id
        WHERE REPLACE(c.category_name, ' ', '') = REPLACE(#{categoryName}, ' ', '')
    </select>

    <!-- 조회수/좋아요순 인기 레시피 5개 조회 (메인페이지용) -->
    <select id="selectViewCount" resultType="recipe">
        SELECT r.*, m.nickname FROM recipe r
        JOIN member m ON r.member_id = m.member_id
        ORDER BY view_count DESC, like_count DESC LIMIT 5
    </select>

    <!-- 회원이 작성한 레시피 갯수 조회 -->
    <select id="countUserRecipe" >
        SELECT count(*) FROM recipe 
        WHERE member_id = #{member_id} 
    </select>

    <!-- 회원의 전체 레시피 리스트 조회 -->
    <select id="getUserRecipeList" parameterType="java.util.Map" resultType="recipe">
        SELECT * FROM recipe
        WHERE member_id = #{member_id}
        ORDER BY recipe_id DESC
        LIMIT #{size} OFFSET #{offest}
    </select>

    <!-- 마이페이지 레시피 정보 5개 출력 -->
    <select id="recentlyUserRecipe" resultType="recipe">
        SELECT * FROM recipe
        WHERE member_id = #{member_id}
        ORDER BY recipe_id DESC LIMIT 5
    </select>

    <select id="search" parameterType="String" resultType="recipe">
        <bind name="pattern" value="'%' + keyword + '%'"/>
        SELECT DISTINCT r.*, f.food_name FROM recipe_view r
        JOIN food f ON f.food_id = r.food_id
        WHERE r.title LIKE #{pattern} OR f.food_name LIKE #{pattern}
    </select>

    <select id="recentlyrecipe" resultType="recipe">
        SELECT ROW_NUMBER() OVER (ORDER BY r.created_date DESC) AS rank_num, r.*, m.nickname
        FROM recipe r
        JOIN member m
        ON r.member_id = m.member_id
        ORDER BY r.created_date DESC
        LIMIT 5;
    </select>

    <!-- 추후 수정예정 임시 레시피 페이징 갯수 조회 -->
    <select id="RecipeCount" parameterType="adminrecipe">
        SELECT count(*) from recipe r
        join member m on r.member_id = m.member_id
        join food f on r.food_id = f.food_id
        join category c on f.category_id = c.category_id
        where 1=1
        <if test="keyword != null and keyword != ''">
            AND (
                r.title Like concat('%',#{keyword}, '%')
                OR m.nickname LIKE concat('%',#{keyword}, '%')
            )
        </if>
        <if test="category != null and category != ''">
        AND c.category_name = #{category}
        </if>

        <if test="status != null and status != ''">
            AND r.status = #{status}
        </if> 

        <if test="recommend != null ">
            AND r.recommend = #{recommend}
        </if> 

    </select>
    
    <!-- 뷰 생성한 걸로 바꿈 -->
    <select id="RecipeList" parameterType="adminrecipe" resultType="recipe">
        SELECT
            r.*,           
            c.category_name
        FROM recipe_view r
        JOIN food f ON r.food_id = f.food_id
        JOIN category c ON f.category_id = c.category_id
        WHERE 1=1

        <if test="keyword != null and keyword != ''">
            AND (
                r.title LIKE CONCAT('%', #{keyword}, '%')
                OR r.nickname LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        <if test="category != null and category != ''">
            AND c.category_name = #{category}
        </if>

        <if test="status != null and status != ''">
            AND r.status = #{status}
        </if>

        <if test="recommend != null ">
            AND r.recommend = #{recommend}
        </if> 

        ORDER BY r.recipe_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectrecipe" resultType="recipe">
        select r.*, c.category_name, f.food_name
        from recipe_view r
        join food f on r.food_id = f.food_id
        join category c on c.category_id = f.category_id
        where r.recipe_id = #{recipe_id}
    </select>

    <update id="updateStatus" parameterType="recipe">
        update recipe set status = #{status} where recipe_id = #{recipe_id} 
    </update>

    <update id="updateRecipe" parameterType="recipe">
        update recipe set recommend = #{recommend} where recipe_id = #{recipe_id}
    </update>

    <!-- 추천 레시피 리스트 불러오기-->
    <select id="selectRecommedList" resultType="recipe">
        select r.*, m.nickname
        from recipe r
        join member m on r.member_id = m.member_id
        where recommend = 1
        order by r.created_date desc, r.recipe_id desc
        LIMIT 10
    </select>

    <resultMap id="RecipeDetailMap" type="RecipeDetailDTO">
        
        <id property="recipeId" column="recipe_id" />
        <result property="recipeTitle" column="title" />
        <result property="foodId" column="food_id"/>
        <result property="cookingTime" column="cooking_time" />
        <result property="viewCount" column="view_count" />
        <result property="likeCount" column="like_count" />
        <result property="createdDate" column="created_date" />
        <result property="updatedDate" column="updated_date" />
        <result property="nickName" column="nickname" />
        <result property="memberId" column="memberId"/>
        <result property="thumbnail" column="thumbnail" />
        <result property="difficulty" column="difficulty" />
        <result property="status" column="status" />

        <collection property="ingredientList" ofType="ingredient">
            <id property="ingredient_id" column="ingredient_id" /> 
            <result property="ingredient_name" column="ingredient_name" />
            <result property="quantity" column="quantity" />
            <result property="unit" column="unit" />
            <result property="type" column="type" />
            <result property="recipe_id" column="recipe_id" />
        </collection>

        <collection property="cookOrderList" ofType="cook_order">
            <id property="cook_order_id" column="cook_order_id" />
            <result property="order" column="cook_order" />
            <result property="cook_image" column="cook_image" />
            <result property="description" column="description" />
            <result property="recipe_id" column="recipe_id" />
        </collection>
        
    </resultMap>

    <!-- 레시피 상세보기용 -->
    <select id="getRecipe" resultMap="RecipeDetailMap">
        SELECT 
            r.recipe_id, r.title, r.food_id, r.cooking_time, r.view_count, r.like_count, 
            r.created_date, r.updated_date, r.thumbnail, r.difficulty, r.status,
            m.nickname, 
            m.member_id AS memberId, m.nickname AS nickName,
            i.ingredient_id, i.ingredient_name, i.quantity, i.unit, i.type,
            c.cook_order_id, c.cook_order, c.cook_image, c.description
        FROM recipe r
        JOIN member m 
        ON m.member_id = r.member_id
        LEFT JOIN ingredient i ON r.recipe_id = i.recipe_id
        LEFT JOIN cook_order c ON r.recipe_id = c.recipe_id
        WHERE r.recipe_id = #{recipeId}
    </select>


    <select id="selectAllFood" resultType="map">
    SELECT
        food_id AS foodId,
        food_name AS foodName
    FROM food
    ORDER BY food_name
    </select>

    <!-- 레시피 등록 -->
    <insert id="insertRecipe" parameterType="RecipeDTO" useGeneratedKeys="true" keyProperty="recipeId"> 
        INSERT INTO recipe(
        title,
        member_id,
        food_id,
        cooking_time,
        thumbnail
    )
    VALUES(
        #{title},
        #{memberId},
        #{foodId},
        #{cooking_time},
        #{thumbnail}
    )
    </insert>

    <!-- 재료 등록 -->
    <insert id="insertIngredient" parameterType="ingredient">
    INSERT INTO ingredient(
        ingredient_name,
        quantity,
        unit,
        recipe_id
    )
    VALUES(
        #{ingredient_name},
        #{quantity},
        #{unit},
        #{recipe_id}
    )
    </insert>

    <!-- 조리 과정 -->
    <insert id="insertCookOrder" parameterType="cook_order">
    INSERT INTO cook_order(
        cook_order,
        description,
        cook_image,
        recipe_id
    )
    VALUES(
        #{order},
        #{description},
        #{cook_image},
        #{recipe_id}
    )
    </insert>

    <!-- 레시피 삭제 -->
    <delete id="deleteRecipe" parameterType="int">
    DELETE FROM recipe
    WHERE recipe_id = #{recipeId}
    </delete>

    <!-- 레시피 수정 -->
    <update id="updateNewRecipe" parameterType="RecipeDTO">
    UPDATE recipe
    SET
        title = #{title},
        food_id = #{foodId},
        cooking_time = #{cooking_time}
        <if test="thumbnail != null">
            , thumbnail = #{thumbnail}
        </if> <!-- 기존 썸네일 유지 -->
    WHERE recipe_id = #{recipeId}
    </update>


    <!-- 레시피 수정: 재료 수정 -->
    <delete id="deleteIngredient" parameterType="int">
    DELETE FROM ingredient
    WHERE recipe_id = #{recipeId}
    </delete>

    <!-- 레시피 수정: 조리순서 수정 -->
    <delete id="deleteCookOrder" parameterType="int">
    DELETE FROM cook_order
    WHERE recipe_id = #{recipeId}
    </delete>
    

    <update id="updateViewCount" parameterType="int">
        UPDATE recipe
        SET view_count = view_count + 1
        WHERE recipe_id = #{recipeId}
    </update>

</mapper>
