<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.foodsite.dao.WebPushDAO">

    <insert id="upsertSubscription" parameterType="WebPushSubscription">
        INSERT INTO web_push_subscription (endpoint, member_id, p256dh, auth)
        VALUES (#{endpoint}, #{member_id}, #{p256dh}, #{auth})
        ON DUPLICATE KEY UPDATE
            member_id = #{member_id},
            p256dh = #{p256dh},
            auth = #{auth}
    </insert>

    <select id="selectExpiringItems" parameterType="int" resultType="target">
        SELECT 
            s.endpoint,
            s.p256dh,
            s.auth,
            f.ingredient_name AS ingredientName,
            f.expire_date AS expireDate,
            f.member_id AS member_id
        FROM fridge_item f
        INNER JOIN web_push_subscription s ON f.member_id = s.member_id
        WHERE DATE(f.expire_date) BETWEEN CURDATE() AND CURDATE() + INTERVAL #{date} DAY
    </select>


</mapper>